@page "/subtitleFinder"
@inherits SubtitleFinderBase
@using System.Globalization
@using BlazorServer.Components

<div class="centerDiv">


    <div class="centerDiv">

        <InfoBox InfoText="Crawls subscene and finds the most likely subtitle by using Levenshtein distance algorithm on the collected data. Cloudflare bypass atm" />

        <p class="animate__animated animate__bounceInLeft"></p>
        <MatButton @onclick="@((e) => ExampleSearch("Interstellar.2014.1080p.BluRay.x264.DTS-RARBG"))">Give me an example</MatButton>

        <br />
        <MatTextField @bind-Value="movieInput" @oninput="@((e) => SetInput(e.Value.ToString()))" Required="true" Label="Movie title" Style="width: 85%; max-width: 500px;"></MatTextField>
        <br />

        @if (movieInput?.Length > 2)
        {
        <MatButton @onclick="@((e) => SearchForMovie())">Search</MatButton>
        }

        @if (errorMessage != null)
        {
        <h1 class="animate__animated animate__swing">@errorMessage</h1>
        }


        @if (loading == true)
        {
        <LoadingIcon />
        }

    </div>

    @if (movieList?.Count() > 0)
    {

    <div class="movieArea">
        <div class="movieSection">
            <Poster movieList="@movieList"></Poster>
            <SortByLanguage @bind-Language="@language" movieList="@movieList" />
        </div>

        <div class="movieSection">
            <h3>@movieInput</h3>
            @foreach (var item in movieList.Where(e => e.SubtitleLanguage == language))
                {
            <div class="movieCard" @onclick="@((e) => GetSelectedMovieDetails(item))">
                <h3>@item.RelevanceScore % Match</h3>
                @if (item.Url == selectedMovieDetails.Url)
                        {
                <div class="animate__animated animate__bounceIn">
                    <p>@item.Title</p>
                    <div class="detailsSection">
                        <p>Downloads</p>
                        <i class="fas fa-download fa-3x" style="color:#6fcc29;" /><p>@selectedMovieDetails.DownloadsCount</p>
                    </div>
                    <div class="detailsSection">
                        <p>Subtitle rating</p>
                        <i class="fas fa-star fa-3x" style="color:#ffc107"></i><p>@selectedMovieDetails.RatingValue/10</p>
                    </div>
                    <h3> <a href="@selectedMovieDetails.DownloadLink"> Download subtitle</a> </h3>
                </div>
                }
            </div>
            }
        </div>
    </div>
    }
</div>








