@page "/carFinder"
@inherits CarInfoBase
@using System.Globalization
@using BlazorServer.Components





<div class="centerDiv">

    <div class="textBox">
        <h3>Check yearly tax rate on a specific car and the previous owners.</h3>
        <p>
            Data is taken from a few places, they try to hide it better all the time so let's see how long this works.
        </p>
    </div>
    <p class="animate__animated animate__bounceInLeft"></p>


    <br />
    <MatTextField @bind-Value="regInput" @oninput="@((e) => SetInput(e.Value.ToString()))" Required="true" Label="ABC123" Style="width: 85%; max-width: 500px;"></MatTextField>
    <br />

    @if (regInput?.Length == 6)
    {
        <MatButton @onclick="@((e) => SearchForCar())">Search</MatButton>
    }

    @if (errorMessage != null)
    {
        <h1 class="animate__animated animate__swing">@errorMessage</h1>
    }

    @if (IsLoading == true)
    {
        <LoadingIcon />
    }

    @if (car.Owners?.Count() > 0)
    {
        <div class="mat-elevation-z10" style="margin: auto;">
            <div class="carInfoBox">
                <i class="fas fa-car fa-2x" style="color:cornflowerblue" /><p>@car.Make @car.Model</p>
            </div>
            <div class="carInfoBox">
                <i class="fas fa-money-bill fa-2x" style="color:forestgreen" /><p>@car.YearlyTax sek</p>
            </div>
            <div class="carInfoBox">
                <i class="fas fa-car fa-2x" style="color:olive" /><p> @car.Is_leased </p>
            </div>
            <div class="carInfoBox">
                <i class="fas fa-car fa-2x" style="color:gold" /><p>@car.StolenStatus </p>
            </div>
            <p> @car.Traffic_status </p>
        </div>



        <div class="drinkContainer" style="display: grid">

            @foreach (var item in car.Owners.OrderByDescending(e => e.DateOvertaken))
            {
                <a class="mat-elevation-z10" href="@item.OwnerTraceLink" target="_blank">
                    <div class="carInfoBox">
                        <i class="fas fa-house-user fa-2x" style="color:orange" /><p>@item.Location</p>
                    </div>
                    <div class="carInfoBox">
                        <i class="far fa-user fa-2x" style="color:forestgreen" /><p>@item.FullName</p>
                    </div>
                    <div class="carInfoBox">
                        <i class="fas fa-calendar-alt fa-2x" style="color:peachpuff" /><p>@item.DateOvertaken</p>
                    </div>
                </a>


            }


        </div>

    }
</div>









