@page "/graph"
@inherits GraphBase
@using System.Globalization


    <div class="centerDiv">
        <div class="textBox">
            <h3> Crawls Avanza every 3 minute intraday to get trading sentiment to see if traders are long or short</h3>
            <p>
                Avanza publish number of people owning a trading instrument. If you trade certificates or futures you buy an underlying asset like a index for example.
                These can be traded on short or long basis. Matching the current bear/bull(short/long) traders with the current market price there could be a possibility to see where the market is heading.
                This would have been perfect if the majority actually knew how to daytrade at what times but that's out of my control =)
            </p>
            <p>TL;DR Overview of Avanza traders going long or short</p>
        </div>

    


        <RadzenDatePicker @bind-Value="value" DateFormat="d" Change="@(e => Change(e))" />
    </div>

    <div class="col-md-10">



        <RadzenChart>


            <RadzenLineSeries Data="@CertLong" Stroke="green" CategoryProperty="FetchDate" Title="CertLong" ValueProperty="Price" RenderingOrder="2">

                <TooltipTemplate Context="data">
                    <div>
                        <h1>@data.Price bulls</h1>
                        <h3>@data.FetchDate</h3>
                    </div>
                </TooltipTemplate>

            </RadzenLineSeries>
            <RadzenLineSeries Data="@CertShort" Stroke="red" CategoryProperty="FetchDate" Title="CertShort" ValueProperty="Price" RenderingOrder="3">
                <TooltipTemplate Context="data">
                    <div>
                        <h1>@data.Price bears</h1>
                        <h3>@data.FetchDate</h3>
                    </div>
                </TooltipTemplate>
            </RadzenLineSeries>
            <RadzenCategoryAxis Padding="20" FormatString="{0:HH:mm:ss}" />



            @*24 timmar bara tid {0:HH:mm:ss}
            dag {0:u}*@


        </RadzenChart>

        <RadzenChart>
            <RadzenAreaSeries Data="@OMX" Stroke="orange" CategoryProperty="FetchDate" Title="OMX" ValueProperty="Price" RenderingOrder="1">
                <TooltipTemplate Context="data">
                    <div>
                        <h1>@data.Price</h1>
                        <h3>@data.FetchDate</h3>
                        <i class="fas fa-balance-scale fa-3x" style="color:orange;"</i>
                    </div>
                </TooltipTemplate>
            </RadzenAreaSeries>


        <RadzenCategoryAxis Padding="20" FormatString="{0:HH:mm:ss}" />
        </RadzenChart>

    </div>



